.nav{
    color: black;
    font-size: xx-large;
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
.nav{
    color: black;
    font-size: xx-large;
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
}